* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #f7f7f7; */
    /* background-color: lightgrey; */
}

h1 {
    margin-left: 3px;
}

.tag {
    text-align: center;
    background-color: #B3E5FC;
    padding: 6px 2px;
    margin-top: 5px;
}

.topnav {
    /* background: lightgray; */
    background-color: #f7f7f7;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* change color of links when hovered */

.topnav a:hover {
    background-color: #B3E5FC; 
    /* give a better bg color */
    color: black;
    /* border-radius: 15px; */
}

iframe {
    margin-left: 5px;
}
.desp {
    margin-left: 5px;
}

li {
    list-style: none;
}

.block {
    padding: auto;
    max-width: 450px;
    display: inline-block;
}

.content {
    margin-bottom: 25px;
    padding-top: 5px;
}

#c_title {
    padding: 6px 2px
}

.context {
    margin: 4px 6px;
}

.sources {
    font-weight: bold;
    font-size: 15px;
}

.a-here {
    color: red;
    text-decoration: none;
}

/* updates page */
.updates {
    min-width: 310px;
    min-height: 280px;
}

/* Footer */
footer {
    padding-top: 5px;
    margin-bottom: 10px;
}

#ul-foot {
    list-style-type: none;
    overflow: hidden;
    background-color:rgb(210, 226, 195);
}

.li-foot {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 0px 5px 10px;
}

.a-foot {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 10px;

}

/* main title linker */

.main-t {
    text-decoration: none;
    color: black;
}