body{
    margin: 0;
    padding: 0;
    background: #060c21;
    font-family: sans-serif;
}
.grid-container{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-items: center;
    background: #060c21;
}
.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;  /*  this gives a border */
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -2;  /*  this gives a border */
    filter: blur(40px);
}

.box:before,
.box:after{
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}

.content{
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}